.env
faiss_indices/
output.json
app/services/__pycache__
app/__pycache__
.venv
cloth_search_api/metadata/search_metadata.json
cloth_search_api/__pycache__
pdfs
pdfs copy
images
sample_data.json
app/textile_data.json
chroma
upload_data.py
.github/
**/__pycache__/
*.py[cod]